Django==5.2.2
django-unfold==0.98.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-filter==25.1
drf-spectacular==0.28.0
sentry-sdk[django]==2.20.0
django-environ==0.12.0
django-storages[azure]==1.14.6
azure-storage-blob==12.26.0
django-anymail[sendgrid]==12.0
django-celery-beat==2.9.0
celery==5.5.3
redis==6.2.0
psycopg[binary,pool]==3.2.9
uvicorn[standard]==0.35.0
whitenoise==6.9.0
Pillow==11.3.0
certifi==2026.5.20
